<div class="container mt-5  ">
  <div class="cars-data">
    <div class="search d-flex  align-items-center">
      <i class="fa-solid fa-location-dot fs-5 m-1 bg-body-tertiary p-2"></i>
      <input type="text" placeholder="Search by name" class="form-control">
      <button class="btn btn-primary ">Search</button>
    </div>
    <div class="heading mt-4 d-flex flex-column justify-content-center align-items-center ">
    <a class="text-decoration-none fs-5 bg-body-tertiary rounded-2 p-2" href="">POPULAR RENTAL DEALS</a>
   <h3 class="mt-5 fs-1">Most popular cars rental deals</h3>


    </div>
    <div class="row  z-2">
      <div *ngFor="let car of cars" class="col-md-3 g-4  z-2 ">
        <div class="item bg-body-tertiary z-3 ">
          <img src="../../assets/images/car1.png" class="w-100" alt="">
          <h4>{{car.make}}</h4>
          <div class="rate d-flex align-items-center mt-2">
            <img class="mb-3 px-2"  src="../../assets/images/star.png" alt="">
            <p>4.8</p>
            <p>(2424 reviews)</p>
          </div>
          <div class="details d-flex">
          <div class="right">
          <div class="d-flex align-items-center">
            <img class="mb-3 px-2" src="../../assets/images/user.png" alt="">
            <p>4 passengers</p>
          </div>
          <div class="d-flex align-items-center">
            <img class="mb-3 px-2" src="../../assets/images/d8wxke_2_.png" alt="">
            <p>air conditioner</p>
          </div>
        </div>
        <div class="left px-2">
          <div class="d-flex align-items-center">
            <img class="mb-3 px-2" src="../../assets/images/Frame.png" alt="">
            <p>{{car.transmission}}</p>
          </div>
          <div class="d-flex align-items-center">
            <img class="mb-3 px-2" src="../../assets/images/Frame.png" alt="">
            <p>{{car.year}}</p>
          </div>

        </div>
      </div>
      <hr>
      <div class="price d-flex justify-content-between align-items-center">
        <p>Price</p>
        <p class="fw-bold fs-5">{{car.price}}</p>
      </div>
      <div class="button d-flex justify-content-center align-items-center mt-2">
      <button class="btn btn-primary text-center">View Details <img src="../../assets/images/arrow-right.png" alt=""></button>
    </div>
    </div>
      </div>
    </div>
    <div class="btn-allCars d-flex justify-content-center align-items-center mt-5">
      <button routerLink="/AllCars" class="btn px-4 py-1 btn-outline-secondary mt-4 text-uppercase d-flex align-items-center">Show All Vehicles <i class="fa-solid fa-arrow-right mx-3"></i></button>
    </div>
  </div>
</div>
