<div class="container-fluid mt-5 ">
  <div class="row">
   <div class="col-md-6">
    <div class="img h-100 pt-5">
      <img class="w-100" src="../../assets/images/Audi 1.png" alt="">

    </div>





    </div>
    <div class="col-md-6">
      <div class="why-us">
        <div class="heading ms-3">
        <a class="text-decoration-none fs-5 mb-2 p-2 rounded-2" href="">WHY CHOOSE US</a>
        <h3 class="mt-3 fs-4">We offer the best experience with our rental <br> deals</h3>
        </div>
        <div class="info d-flex align-items-center p-3  ">
          <div class="img mx-2">
            <img src="../../assets/images/user.png" alt="">
          </div>
          <div class="details">
            <h5>Best price guaranteed</h5>
            <p>Find a lower price? We’ll refund you 100% of the difference.</p>
          </div>
        </div>
        <div class="info d-flex align-items-center p-3 ">
          <div class="img mx-2">
            <img src="../../assets/images/user.png" alt="">
          </div>
          <div class="details">
            <h5>24 hour car delivery</h5>
            <p>Book your car anytime and we will deliver it directly to you..</p>
          </div>
        </div>
        <div class="info d-flex align-items-center p-3 ">
          <div class="img mx-2">
            <img src="../../assets/images/message.png" alt="">
          </div>
          <div class="details">
            <h5>Best price guaranteed</h5>
            <p>Find a lower price? We’ll refund you 100% of the difference.</p>
          </div>
        </div>
        <div class="info d-flex align-items-center p-3 ">
          <div class="img mx-2">
            <img src="../../assets/images/chat.png" alt="">
          </div>
          <div class="details">
            <h5>24/7 technical support</h5>
            <p>Have a question? Contact Rentcars support any time when you have <br> problem.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="review mt-5 bg-body-tertiary overflow-hidden">
    <div class="heading d-flex flex-column justify-content-center align-items-center pt-5">
      <a class="px-3 rounded-1 fs-5 text-decoration-none" href="">TEST IMONIALS</a>
      <h3 class="fs-1 mt-4">Most popular cars rental deals</h3>
    </div>

    <div class="evaluation">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6">
          <div class="card ">
            <div class="row">
              <div class="col-md-6">
                <div class="img">
                  <img class="w-100" src="../../assets/images/Rectangle 8 (1).png" alt="">
                </div>

              </div>
              <div class=" col-md-6">
                <div class="paragraph mt-3">
                  <h4 class="fs-2">5.5 stars</h4>
                  <div class="imgs mb-4">
                    <img src="../../assets/images/star.png" alt="">
                    <img src="../../assets/images/star.png" alt="">
                    <img src="../../assets/images/star.png" alt="">
                    <img src="../../assets/images/star.png" alt="">
                    <img src="../../assets/images/star.png" alt="">
                  </div>
                  <p>“I feel very secure when using <br> caretall's services. Your customer <br> care team is very enthusiastic and <br> the driver is always on time.”</p>
                  <p>Charlie Johnson <br> Last updated 3 mins ago</p>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card overflow-hidden">
            <div class="row">
              <div class="col-md-6">
                <div class="img">
                  <img class="w-100 overflow-hidden" src="../../assets/images/girl.png" alt="">
                </div>

              </div>
              <div class="col-md-6">
                <div class="paragraph mt-3">
                  <h4 class="fs-2">5.5 stars</h4>
                  <div class="imgs mb-4">
                    <img src="../../assets/images/star.png" alt="">
                    <img src="../../assets/images/star.png" alt="">
                    <img src="../../assets/images/star.png" alt="">
                    <img src="../../assets/images/star.png" alt="">
                    <img src="../../assets/images/star.png" alt="">
                  </div>
                  <p>“I feel very secure when using <br> caretall's services. Your customer <br> care team is very enthusiastic and <br> the driver is always on time.”</p>
                  <p>Charlie Johnson <br>Last updated 3 mins ago</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
