<div class="container mt-5">
  <div class="contact">
    <div class="row">
      <div class="col-md-6">
        <div class="contact-info">
          <div class="heading">
          <h2 class="fs-2">Download Rentcars App for <span>FREE</span></h2>
          <p>For faster, easier booking and exclusive deals.</p>
        </div>
        <div class="imgs">
          <img class="mx-3" src="../../assets/images/andriod.png" alt="">
          <img src="../../assets/images/ios.png" alt="">
        </div>
        <div class="inputs mt-3">
          <input class="rounded-4  my-1" type="text" placeholder="Name">
          <input class=" rounded-4  my-1" type="text" placeholder="phone Number">
          <input class=" rounded-4  my-1" type="text" placeholder="Email">

         <div class="button  ">
          <button class="btn btn-primary  mt-2 ">Send</button>
         </div>
        </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img">
          <img class="w-75 " src="../../assets/images/iPhone-14.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
