<div class="container mt-5">
  <div class="heading pt-5 d-flex flex-column justify-content-center align-items-center">
    <a class="fs-4 text-decoration-none p-1 rounded-2" href="">HOW IT WORK</a>
    <h3 class="fs-1 pt-5">Most popular cars rental deals</h3>
  </div>

  <div class="row text-center mt-5 d-flex justify-content-center align-items-center">
    <div class="col-md-3">
      <div class="item">
       <img src="../../assets/images/location.png" alt="">
        <h4>Choose location</h4>
        <p class="fs-6">Choose your and find <br> your best car</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="item">
        <img src="../../assets/images/car-icon.png" alt="">
        <h4>Pick-up date</h4>
        <p class="fs-6">Select your pick up date <br> and time to book your <br> class="fs-6" car</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="item">
        <img src="../../assets/images/location.png" alt="">
        <h4>Book your car</h4>
        <p class="fs-6">Book your car and we <br> will deliver it directly to <br> you</p>
      </div>
    </div>
  </div>

  <div class="row text-center d-flex justify-content-center align-items-center mt-5">
    <div class="col-md-3">
      <div class="item1">
        <img src="../../assets/images/jaguar.png" alt="">
      </div>
    </div>
    <div class="col-md-3">
      <div class="item1">
        <img src="../../assets/images/nissan.png" alt="">
      </div>
    </div>
    <div class="col-md-3">
      <div class="item1">
        <img src="../../assets/images/volvo.png" alt="">
      </div>
    </div>
    <div class="col-md-3">
      <div class="item1">
        <img src="../../assets/images/audi.png" alt="">
      </div>
    </div>
  </div>
</div>
